<nav class="breadcrumb" aria-label="Breadcrumb">
  <ol class="breadcrumb-list">
    <li class="breadcrumb-item" *ngFor="let item of items; let last = last">
      @if (last || !item.routerLink) {
        <span class="breadcrumb-current" aria-current="page">{{ item.label }}</span>
      } @else {
        <a [routerLink]="item.routerLink" class="breadcrumb-link">{{ item.label }}</a>
        <svg class="breadcrumb-separator" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <polyline points="9 18 15 12 9 6"></polyline>
        </svg>
      }
    </li>
  </ol>
</nav>
